<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">

<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>BIWEB WMS 营销效果最好的网站管理系统</title>
	<link type="text/css" href="<?{$arrGWeb.templats_root}?>/guide/in.css" rel="stylesheet">
</head>
<body>
	<div id="container">
		<div id="container">
			<div id="header">
				<div id="logo">
					<img src="<?{$arrGWeb.templats_root}?>/guide/logo.gif" />
				</div>
			</div>
			<div id="main">
				<div id="main_bg">
					<object height="405" width="1003" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param value="<?{$arrGWeb.templats_root}?>/guide/topbanner.swf" name="movie">
					<param value="high" name="quality"><param value="transparent" name="wmode">
					<embed height="405" width="1003" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="<?{$arrGWeb.templats_root}?>/guide/topbanner.swf">
					</object>
				</div>
				<div id="main_link">
					<ul>
						<li>
							<a href="index_cn.php" hidefocus="true">中文版</a>
						</li>
						<li>|</li>
						<li>
							<a href="en/index.php" hidefocus="true">English</a>
						</li>

					</ul>
				</div>
			</div>
			<div id="footer">
				<div id="foot_copyright">
					<ul>
						<li><?{$arrGWeb.Copyright}?></li>
						<li><?{$arrGWeb.cert}?></li>
					</ul>
				</div>
				<div id="foot_line">
					<div id="line_right"></div>
					<div id="line_left"></div>
				</div>
			</div>
		</div>			
	</div>
</body>
</html>