<!DOCTYPE html>
<html>
  <head>
    <title>兴甫分校</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css"></link>
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    

  </head>
  
  <body>
  	<div class="n-back">
	  <div class="header-box clb"></div><!-- nav -->
		  <div class="content_box clb">
		  	<div><img style="width:100%;" src="images/news-img1.jpg" /></div>
		    <div class="n-c-b clb">
		  	  <div class="n-c-lb">
		  		  <span class="n-c-ts"></span>
		  		  <ul class="n-c-cul">
		  		  	<li class="down-back culli"><a href="javascript:;">
		  		  	  <p>New Admissions<br/>兴甫简介</p>
		  		  	</a></li>
		  		  	<li class="culli"><a href="javascript:;">
		  		  	  <p>Xin Fu News<br/>兴甫武校&nbsp;<i class="list-zkj"></i></p>
		  		  	</a></li>
		  		  	  <div class="n-yey-b">
		  		  	    <ul>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>兴甫武校简介</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>兴甫武校风采</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>兴甫新闻</a></li>
		  		  	    </ul>
		  		  	  </div>
		  		  	<li class="culli"><a href="javascript:;">
		  		  	  <p>Kindergarten<br/>星甫幼儿园&nbsp;<i class="list-zkj"></i></p>
		  		  	</a>
		  		  	</li>
		  		  	  <div class="n-yey-b">
		  		  	    <ul>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>幼儿园简介</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>幼儿园风采</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>幼儿园新闻</a></li>
		  		  	    </ul>
		  		  	  </div>
		  		  	<li class="culli"><a href="javascript:;">
		  		  	  <p>Norm style<br/>名师风采&nbsp;<i class="list-zkj"></i></p>
		  		  	</a></li>
		  		  	  <div class="n-yey-b">
		  		  	    <ul>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>李教练</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>李教练</a></li>
		  		  	      <li><a href="javascript:;"><i class="nlist-zkj"></i>李教练</a></li>
		  		  	    </ul>
		  		  	  </div>
		  		  </ul>
		  	  </div>
		  	  <div class="n-c-rb">
		  	  	<div style="width:100%; background:#FF5953; height:30px;"></div>
		  	  	<div class="n-c-rt"><span class="n-c-rtib"><p class="rtib-po">新闻资讯</p></span><span class="n-c-rtwzb">您现在所在的位置： <a href="javascript:;">首页</a> > <a href="javascript:;">新闻中心</a></span></div>
		  	  	
		  	  	
		  	  	<div class="n-c-rib">
		  	  		<div class="n-c-riul" style="display:block;">
			  	  		<ul class="riul-ulb">
			  	  			<li class="riul-li clb"><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业</a><span>2015-08-20</span></li>
			  	  			<li class="riul-li clb"><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业</a><span>2015-08-20</span></li>
			  	  			<li class="riul-li clb"><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业</a><span>2015-08-20</span></li>
			  	  			<li class="riul-li clb"><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业</a><span>2015-08-20</span></li>
			  	  			<li class="riul-li clb"><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业</a><span>2015-08-20</span></li>
			  	  		</ul>
			  	  		
			  	  		<div id="fy-btnb" class="fy-btnb clb">
			  	  		</div>
		  	  		</div>
		  	  		<div class="n-c-riul clb">
		  	  		  <div class="jl-infob">
					     <div class="jl-topinb"><div class="jl-imgb"><img src="webapp/images/w-10.jpg" /></div><p class="jl-name">李教练</p></div>
					     <div class="jl-coninfb">
					       <div class="fxfc-tti"><p>教练简介</p></div>
					       <div class="jl-conbi">
					         	原贵州省武术协会副主席:周辛甫,江苏省徐州市人，出生于武术世家，年幼习武，1930年考入徐州武术馆，时年15岁。在国内著名拳师房龙英、李耀朴麾下全心学习，精于刀、剑、拳和对练，涉猎了枪、棍、戟、铲、镗、月、拐、鞭多种器械。1940年被国民党第七师聘为中尉武术教官，1945年转到的八十四师任上尉武术教官。由于功底扎实，口碑极好，遂被举荐到国民党总统府警卫总队任少校教官，作为李宗仁的贴身警卫。解放后，随国民党新编四十八师在广西新州起义，回到人们怀抱。举家南进途经贵州时，被这一方适宜的气候、秀丽的山水所吸引，于是落户安龙。在新中国成立初期，体育战绩一派欣欣向荣的景象，他一边参赛，一边育人。在全省武术比赛中一举夺得长拳冠军，在全国武术比赛，先后获得二、三等奖。在黔西南州培育了500多名少年选手，为安龙获取“全国武术之乡”荣誉奠定了人才基础。 1982年被推举为贵州省武术协会副主席。同时担任省武术队教练，在第一线拼杀。 1984年率队参加“全国第二界工运会”，夺得朴刀进枪对练一等奖、盾牌进刀对练二等奖，优异的成绩振奋了在努力拼搏的贵州武术界；1986年，省体委为筹办参加全国六运会，又将他从安龙招回，担任省武术队教练，经过顶着酷暑寒风一年的苦练，在1987年全国六运会上获预赛第三名，决赛第七名。返黔后，终因劳累过度病倒了。一年以后去世，葬于安龙县，享年74岁。
								贵阳市兴甫武术学校简介
								贵阳兴甫武术学校始建于1994年，是一所具有幼儿园和专业武术业余培训学校。二十一年来，学校始终坚持“严格管理争创一流，培养德艺双馨人才”的办学宗旨。教学中始终坚持学习和发扬国内武术名家的传统和精髓，特别是继承和发扬了贵州省武术家周辛甫长达60余载的武术技艺，使我校教学方法别具一格独具特色，深受青少年欢迎。业余武术训练中我们结合教学实践与贵阳市体校联合办学，即保证训练场馆又拥有过硬的教学设施，共同推动了贵州武术事业向前发展。
								“百年大计甘于奉献，育得桃李满园春”建校二十一年，共培训学生20000余人。在国际、国内、省市武术比赛中共获金牌436枚、银牌249枚、铜牌172枚，成为贵州史上获金牌最多的武术学校。为贵州争得了荣誉，为武术事业做出了贡献，向全国各大院校输送了一批优秀人才。                                                                                                                                                                                                                                                                                                                                                        
								1999年、2003年、2007年（每四年评比一次）三届蝉联“贵阳市先进学校”。 2005年3月，兴甫武校首开贵州武术史上中外交流之先河，迎接瑞典武术团一行25人到校进行访问交流；2007年12月，美国“人民对人民”大学教师团到我校学习交流。 
								    展望未来，我们将继续贯彻“严格管理争创一流，培养德艺双馨人才”的办学宗旨，集思广益，不断提高办学水平，朝着“让学生满意、家长放心、社会认同”的方向发展，培育出更多的优秀人才，去迎接更加辉煌的明天。
								贵阳市兴甫武术学校是以我省老一辈武术家“周辛甫”先生名字命名，周辛甫（原贵州省武术协会副主席）江苏省徐州市人，自幼习武，15岁时考入徐州武术馆，师从国内著名拳师房龙英、李耀朴，精于刀、剑、拳和对练，涉猎了枪、棍、戟、铲、镗、月、拐、鞭多种器械。1945年被国民党总统府警卫总队选中，任李宗仁副总统的贴身侍卫并兼任国民党总统府警卫总队少校教官，后随部队起义，落户贵州。曾在全国、全省武术比赛中夺得长拳冠军及二等奖。担任贵州省武术队教练期间率队参加 “全国武术比赛”“全国第二届
					       </div>
					       <div class="fxfc-tti"><p>教练风采</p></div>
					       <div class="jl-imglib">
					  		<div class="xf-news-rightbo">
					  			<div class="xf-news-rinbo">
					  				<a href="javascript:;" class="xf-pro"></a>
					  				<a href="javascript:;" class="xf-neo"></a>
					  				<ul class="xf-news-ulo clb">
					  					<li><a><img src="images/by/fc-9.jpg" /></a></li>
					  					<li><a><img src="images/by/fc-8.jpg" /></a></li>
					  					<li><a><img src="images/by/fc-7.jpg" /></a></li>
					  				</ul>
					  			</div>
					  		</div>
					       </div>
					     </div>
					   </div>
		  	  		</div>
		  	  		<div class="n-c-riul">
		  	  			<div class="n-c-tci">
				  	  		<h1>贵阳市兴甫武术学校简介</h1>
				  	  		<p>原贵州省武术协会副主席:周辛甫,江苏省徐州市人，出生于武术世家，年幼习武，1930年考入徐州武术馆，时年15岁。在国内著名拳师房龙英、李耀朴麾下全心学习，精于刀、剑、拳和对练，涉猎了枪、棍、戟、铲、镗、月、拐、鞭多种器械。1940年被国民党第七师聘为中尉武术教官，1945年转到的八十四师任上尉武术教官。由于功底扎实，口碑极好，遂被举荐到国民党总统府警卫总队任少校教官，作为李宗仁的贴身警卫。解放后，随国民党新编四十八师在广西新州起义，回到人们怀抱。举家南进途经贵州时，被这一方适宜的气候、秀丽的山水所吸引，于是落户安龙。在新中国成立初期，体育战绩一派欣欣向荣的景象，他一边参赛，一边育人</p>
					        <p>在全省武术比赛中一举夺得长拳冠军，在全国武术比赛，先后获得二、三等奖。在黔西南州培育了500多名少年选手，为安龙获取“全国武术之乡”荣誉奠定了人才基础。 1982年被推举为贵州省武术协会副主席。同时担任省武术队教练，在第一线拼杀。 1984年率队参加“全国第二界工运会”，夺得朴刀进枪对练一等奖、盾牌进刀对练二等奖，优异的成绩振奋了在努力拼搏的贵州武术界；1986年，省体委为筹办参加全国六运会，又将他从安龙招回，担任省武术队教练，经过顶着酷暑寒风一年的苦练，在1987年全国六运会上获预赛第三名，决赛第七名。返黔后，终因劳累过度病倒了。一年以后去世，葬于安龙县，享年74岁。</p>
					        <p>教学中始终坚持学习和发扬国内武术名家的传统和精髓，特别是继承和发扬了贵州省武术家周辛甫长达60余载的武术技艺，使我校教学方法别具一格独具特色，深受青少年欢迎。业余武术训练中我们结合教学实践与贵阳市体校联合办学，即保证训练场馆又拥有过硬的教学设施，共同推动了贵州武术事业向前发展。 “百年大计甘于奉献，育得桃李满园春”建校二十一年，共培训学生20000余人。在国际、国内、省市武术比赛中共获金牌436枚、银牌249枚、铜牌172枚，成为贵州史上获金牌最多的武术学校。为贵州争得了荣誉，为武术事业做出了贡献，向全国各大院校输送了一批优秀人才。</p>
						</div>
						<div class="">
							<div class="fxfc-tti"><p>分校风采</p></div>
							<div class="fxfc-lbb">
						  		<div class="xf-news-rightb">
						  			<div class="xf-news-rinb">
						  				<a href="javascript:;" class="xf-pr"></a>
						  				<a href="javascript:;" class="xf-ne"></a>
						  				<ul class="xf-news-ul clb">
						  					<li><a><img src="images/by/fc-9.jpg" /></a></li>
						  					<li><a><img src="images/by/fc-8.jpg" /></a></li>
						  					<li><a><img src="images/by/fc-7.jpg" /></a></li>
						  				</ul>
						  			</div>
						  		</div>
					  		</div>
						</div>
						<div>
							<div class="fxfc-tti"><p>联系我们</p></div>
						</div>
		  	  		</div>
		  	  		<div class="n-c-riul">
		  	  				<p class="f_center" style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-align: center; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; white-space: normal; background-color: rgb(255, 255, 255);">
							    <img src="http://img1.cache.netease.com/catchpic/F/F0/F0FDB84B5969FB5CE7657F66D2102B8A.jpg" style="vertical-align: top; border: 0px;"/>
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    参考消息网8月30日报道&nbsp; 港媒称，中国国家主席习近平的新书近日出版。这本书被国家媒体称为“县委书记指南”。
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    据香港《南华早报》网站8月28日报道，自约3年前上任以来，习近平已经发表了许多著作。《做焦裕禄式的县委书记》一书的发行在26日公布，国家媒体当天报道，习近平之前的著作《习近平谈治国理政》的全球发行量突破520万册，成为改革开放以来中国国家领导人著作海内外发行的最高纪录。
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    报道称，习近平的新书收录了他在中央党校县委书记研修班学员座谈会上的讲话、在会见全国优秀县委书记时的讲话等6篇文稿。《人民日报》海外版的社交媒体账号称这本书是“县委书记指南”。
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    报道称，县一直是中国治国理政中的重要环节。自习近平上任以来，他经常强调县委书记的重要性，敦促他们为人民服务，坚决抵制腐败。
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    今年6月，习近平在接见全国102名优秀县委书记时引用中国古文说：“郡县治，天下安。”
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    习近平在会上发表讲话说：“在我们党的组织结构和国家政权结构中，县一级处在承上启下的关键环节，是发展经济、保障民生、维护稳定的重要基础。”
							</p>
							<p style="padding: 0px; margin-top: 26px; margin-bottom: 26px; font-size: 14px; text-indent: 2em; color: rgb(37, 37, 37); font-family: 宋体, sans-serif; line-height: 24px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
							    报道称，习近平本身也曾经是一名县委书记。1982年，他离开北京，到河北省正定县担任县委副书记，不久后成为县委书记。在就任国家主席多年后，习近平回忆起在县里度过的时光仍感到高兴。
							</p>
							<p>
							    <br/>
							</p>
				  	  	<div class="turnPage clb">
				  	  		<a class="turnPage1" href="javascript:;">查看上一篇：中国好生硬</a>
				  	  		<a class="turnPage2" href="javascript:;">查看下一篇：中国坏生硬</a>
				  	  	</div>
				  	  	<div class="more-wb clb">
				  	  		<div class="m-nb-l">
				  	  			<p>关于兴甫相关搜索：</p>
				  	  			<ul>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  			</ul>
				  	  		</div>
				  	  		<div class="m-nb-r">
				  	  			<p>关于兴甫相关搜索：</p>
				  	  			<ul>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  				<li><a href="javascript:;">习近平本身也曾经是一名县委书记</a></li>
				  	  			</ul>
				  	  		</div>
				  	  	</div>
		  	  		</div>
		  	  	</div>
		  	  </div>
		    </div>
		  </div>
  	  <div class="footer"></div>
  	</div>
  <script>
  	$(".header-box").load("header.html");
  	$(".footer").load("footer.html");
  </script>
  </body>
</html>
