<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>兴甫展示</title>
<link rel="stylesheet" href="css/style.css" type="text/css"></link>
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body style="overflow:hidden;">
<div id="hb">
  <div style="" class="header-box clb"></div><!-- nav -->

  <div class="xf-is-box clb">
    <div class="xf-is-lbox">
      <div>
      </div>
    </div>
    <div class="xf-is-rbox clb">
      <ul id="hhh" style="display:block; opacity:1;">
        <li><a href="javascript:;"><img src="images/by/fc-19.jpg" /></a><div class="is-jx-box"><p>1中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-20.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-21.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-22.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-23.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-24.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-25.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-26.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-27.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
      </ul>
      <ul id="hhh">
        <li><a href="javascript:;"><img src="images/by/fc-19.jpg" /></a><div class="is-jx-box"><p>2中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-20.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-21.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-22.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-23.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-24.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-25.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-26.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-27.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
      </ul>
      <ul id="hhh">
        <li><a href="javascript:;"><img src="images/by/fc-19.jpg" /></a><div class="is-jx-box"><p>3中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-20.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-21.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-22.jpg" /></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-23.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-24.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-25.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-26.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
        <li><a href="javascript:;"><img src="images/by/fc-27.jpg" /><div class="is-mpd"></div></a><div class="is-jx-box"><p>中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老</p></div><div class="is-xx-box"><p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中.</p></div></li>
      </ul>
    </div>
  </div>
  <div class="is-qh-box">
    <div class="is-qh-topbtnb"><a href="javascript:;"></a></div>
    <div class="is-qh-hideb">
      <ul class="is-qh-ysul">
        <li><a class="is-qh-ysa ahb" href="javascript:;">1</a></li>
        <li><a class="is-qh-ysa" href="javascript:;">2</a></li>
        <li><a class="is-qh-ysa" href="javascript:;">3</a></li>
      </ul>
      <div class="is-qh-gdic"></div>
    </div>
    <div class="is-qh-btobtnb"><a href="javascript:;"></a></div>
  </div>
</div>
<script>
$(".header-box").load("header.html");

/* $(".xf-is-rbox ul li").hover(function(event){
});
$(".xf-is-rbox ul li").mouseout(function(event){
	$(this).find(".is-xx-box").stop().animate({bottom:'-100%'},300,function(){$(this).parent().find(".is-jx-box").stop().animate({bottom:'0'},300);});
}); */

//$(".xf-is-rbox ul li").each(function() {
	$(".xf-is-rbox ul li").hover(function() {
    	$(this).find(".is-jx-box").stop().animate({bottom:'-30px'},300);
    	$(this).find(".is-xx-box").stop().animate({bottom:'0%'},400);
    },
function() {
    $(this).find(".is-xx-box").stop().animate({bottom:'-100%'},300);
    $(this).find(".is-jx-box").stop().animate({bottom:'0'},400);

});
//});

$("#hb").height($(window).height());
</script>
</body>
</html>