<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>教练风采</title>
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" type="text/css" />
<link rel="stylesheet" href="css/app.css" type="text/css" />
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script src="js/app.js"></script>

</head>
<body>
<div>

  <div class="header-box">
    <h1 class="h-title">贵阳兴甫武术学校</h1>
  </div>
  
  <div>
    <div class="app-topbox">
      <ul class="app-topul clb">
        <li><img src="../webapp/images/xf-1.jpg" /></li>
        <li><img src="../images/by/fc-14.jpg" /></li>
        <li><img src="../images/by/fc-15.jpg" /></li>
      </ul>
      <div class="li-inb">
        <p>文字加载中。。。</p>
        <nav class="li-in">
		  <a class="active-li1" href="javascript:;"></a>
		  <a href="javascript:;"></a>
		  <a href="javascript:;"></a>
        </nav>
      </div>
    </div>
   </div>
   <div class="jlfc-ci">
     <img src="../webapp/images/w-7.jpg" />
   </div>
   <div class="jl-listb" >
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
     <ul class="t-box t-liflex">
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
       <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a><p>李教练</p></li>
     </ul>
   </div>
  <div class="footer-box">
  	<ul>
  	  <li><a href="javascript:;"><img src="../webapp/images/app-6.jpg" /></a></li>
  	  <li><a href="javascript:;"><img src="../webapp/images/app-7.jpg" /></a></li>
  	</ul>
  </div>

</div>
</body>
</html>