<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>教练风采</title>
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" type="text/css" />
<link rel="stylesheet" href="css/app.css" type="text/css" />
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script src="js/app.js"></script>

</head>
<body>
<div>

  <div class="header-box">
    <h1 class="h-title">贵阳兴甫武术学校</h1>
  </div>
  
   <div class="jl-infob">
     <div class="jl-topinb"><div class="jl-imgb"><img src="../webapp/images/w-10.jpg" /></div><p class="jl-name">李教练</p></div>
     <div class="jl-coninfb">
       <div class="jl-tijj">
         <p>Brief introduction</p>
         <p>李教练简介</p>
       </div>
       <div class="jl-xtib"><p>&gt; &nbsp; 教练简介</p></div>
       <div class="jl-conbi">
         	原贵州省武术协会副主席:周辛甫,江苏省徐州市人，出生于武术世家，年幼习武，1930年考入徐州武术馆，时年15岁。在国内著名拳师房龙英、李耀朴麾下全心学习，精于刀、剑、拳和对练，涉猎了枪、棍、戟、铲、镗、月、拐、鞭多种器械。1940年被国民党第七师聘为中尉武术教官，1945年转到的八十四师任上尉武术教官。由于功底扎实，口碑极好，遂被举荐到国民党总统府警卫总队任少校教官，作为李宗仁的贴身警卫。解放后，随国民党新编四十八师在广西新州起义，回到人们怀抱。举家南进途经贵州时，被这一方适宜的气候、秀丽的山水所吸引，于是落户安龙。在新中国成立初期，体育战绩一派欣欣向荣的景象，他一边参赛，一边育人。在全省武术比赛中一举夺得长拳冠军，在全国武术比赛，先后获得二、三等奖。在黔西南州培育了500多名少年选手，为安龙获取“全国武术之乡”荣誉奠定了人才基础。 1982年被推举为贵州省武术协会副主席。同时担任省武术队教练，在第一线拼杀。 1984年率队参加“全国第二界工运会”，夺得朴刀进枪对练一等奖、盾牌进刀对练二等奖，优异的成绩振奋了在努力拼搏的贵州武术界；1986年，省体委为筹办参加全国六运会，又将他从安龙招回，担任省武术队教练，经过顶着酷暑寒风一年的苦练，在1987年全国六运会上获预赛第三名，决赛第七名。返黔后，终因劳累过度病倒了。一年以后去世，葬于安龙县，享年74岁。
			贵阳市兴甫武术学校简介
			贵阳兴甫武术学校始建于1994年，是一所具有幼儿园和专业武术业余培训学校。二十一年来，学校始终坚持“严格管理争创一流，培养德艺双馨人才”的办学宗旨。教学中始终坚持学习和发扬国内武术名家的传统和精髓，特别是继承和发扬了贵州省武术家周辛甫长达60余载的武术技艺，使我校教学方法别具一格独具特色，深受青少年欢迎。业余武术训练中我们结合教学实践与贵阳市体校联合办学，即保证训练场馆又拥有过硬的教学设施，共同推动了贵州武术事业向前发展。
			“百年大计甘于奉献，育得桃李满园春”建校二十一年，共培训学生20000余人。在国际、国内、省市武术比赛中共获金牌436枚、银牌249枚、铜牌172枚，成为贵州史上获金牌最多的武术学校。为贵州争得了荣誉，为武术事业做出了贡献，向全国各大院校输送了一批优秀人才。                                                                                                                                                                                                                                                                                                                                                        
			1999年、2003年、2007年（每四年评比一次）三届蝉联“贵阳市先进学校”。 2005年3月，兴甫武校首开贵州武术史上中外交流之先河，迎接瑞典武术团一行25人到校进行访问交流；2007年12月，美国“人民对人民”大学教师团到我校学习交流。 
			    展望未来，我们将继续贯彻“严格管理争创一流，培养德艺双馨人才”的办学宗旨，集思广益，不断提高办学水平，朝着“让学生满意、家长放心、社会认同”的方向发展，培育出更多的优秀人才，去迎接更加辉煌的明天。
			贵阳市兴甫武术学校是以我省老一辈武术家“周辛甫”先生名字命名，周辛甫（原贵州省武术协会副主席）江苏省徐州市人，自幼习武，15岁时考入徐州武术馆，师从国内著名拳师房龙英、李耀朴，精于刀、剑、拳和对练，涉猎了枪、棍、戟、铲、镗、月、拐、鞭多种器械。1945年被国民党总统府警卫总队选中，任李宗仁副总统的贴身侍卫并兼任国民党总统府警卫总队少校教官，后随部队起义，落户贵州。曾在全国、全省武术比赛中夺得长拳冠军及二等奖。担任贵州省武术队教练期间率队参加 “全国武术比赛”“全国第二届
       </div>
       <div class="jl-xtib"><p>&gt; &nbsp; 教练风采</p></div>
       <div class="jl-imglib">
         <ul>
           <li><a href="javascript:;"><img src="../webapp/images/w-10.jpg" /></a></li>
         </ul>
       </div>
     </div>
   </div>
  <div class="footer-box">
  	<ul>
  	  <li><a href="javascript:;"><img src="../webapp/images/app-6.jpg" /></a></li>
  	  <li><a href="javascript:;"><img src="../webapp/images/app-7.jpg" /></a></li>
  	</ul>
  </div>

</div>
</body>
</html>