<!DOCTYPE html>
<html>
  <head>
    <title>news.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css"></link>
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </head>
  
  <body>
  <div class="home-box1 clb">
	  <div class="header-box clb"></div><!-- nav -->
	  <div class="content_box clb">
	  	<div class="title-box">
	  		<div class="title-top-line"><span></span></div>
	  		<div class="title-text clb"><p>兴甫新闻</p><span>TRUE<br/>MARTIAL ARTS</span></div>
	  	</div>
	  	<div class="news-video-list clb">
	  		<div class="wg-lunbo">
	  			<ul class="img-glide">
	  				<li style="display:block;opacity:1;"><a href="javascript:;"><img src="images/news/1.jpg"></img></a></li>
	  				<li><a href="javascript:;"><img src="images/news/2.jpg"></img></a></li>
	  				<li><a href="javascript:;"><img src="images/news/3.jpg"></img></a></li>
	  			</ul>
	  			<div class="cons-list">
		  			<p>兴甫武校国外比赛之旅</p>
		  			<ul class="cons-ul">
		  				<li class="consBack"><a href="javascript:;"></a></li>
		  				<li><a href="javascript:;"></a></li>
		  				<li><a href="javascript:;"></a></li>
		  			</ul>
	  			</div>
	  		</div>
	  		<div class="moreVideo clb">
		  		<ul>
		  			<li class="stleftBot"><a href="javascript:;"><img src="images/news/1.jpg"></img></a><div class="playBox"><i></i><p>葛艳君颁奖瞬间</p></div></li>
		  			<li class="stbot"><a href="javascript:;"><img src="images/news/2.jpg"></img></a><div class="playBox"><i></i><p>葛艳君颁奖瞬间</p></div></li>
		  			<li class="stLeft"><a href="javascript:;"><img src="images/news/3.jpg"></img></a><div class="playBox"><i></i><p>葛艳君颁奖瞬间</p></div></li>
		  			<li class="gdwx"><a href="javascript:;">+ 更多武校风采>></a></li>
		  		</ul>
	  		</div>
	  	</div>
	  	<div class="xf-history clb">
	  		<div class="wg-lunbo">
	  			<div class="xf-ry">
	  				<div class="title-oBox clb"><span class="fontW">兴甫荣誉</span></div>
	  				<div class="cont-img">
	  					<img src="images/news/4.jpg" />
	  				</div>
	  				<div class="cont-info">
	  					<p class="cont-iText">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</p>
	  					<div class="cont-igd"><a href="javascript:;">+ 查看更多 > ></a></div>
	  				</div>
	  			</div>
	  			<div class="xf-by">
	  				<div class="title-oBox clb"><span class="fontW">兴甫表演专题</span></div>
	  				<div class="cont-img">
	  					<img src="images/news/4.jpg" />
	  				</div>
	  				<div class="cont-info">
	  					<p class="cont-iText">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</p>
	  					<div class="cont-igd"><a href="javascript:;">+ 查看更多 > ></a></div>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="newsZt clb">
  				<div class="title-oBox clb"><span class="fontW">专题新闻</span></div>
  				<div class="cont-Ulinfo">
					<ul>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
						<li><a href="javascript:;">贵阳兴甫武术学校始建于1994年，是贵州省一所专业武术...</a></li>
					</ul>
  					<div class="cont-igd"><a href="javascript:;">+ 查看更多 > ></a></div>
  				</div>
	  		</div>
	  	</div>
	  </div>
  	  <div class="footer"></div>
  </div>
  <script>
  	$(".header-box").load("header.html");
  	$(".footer").load("footer.html");
  </script>
  </body>
</html>
