<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>兴甫视频新闻</title>
<link rel="stylesheet" href="css/style.css" type="text/css"></link>
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div>
  <div class="header-box clb"></div><!-- nav -->
  
  <div class="cent-box clb">
    <div class="xf-left-box clb">
      <div class="v-lb-tb">
        <div class="v-lb-ttib"><p>新闻中心</p><div class="link-b"><span></span></div></div>
        <div class="v-lb-tconb">
          <ul>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
            <li class="clb"><i class="v-lb-rj"></i><a class="v-lb-ra" href="javascript:;">贵州兴甫武术学校始建于1991年，是贵州省</a></li>
          </ul>
        </div>
      </div>
      <div class="v-lb-cb">
        <div class="v-lb-ttib"><p>热门活动</p><div class="link-b"><span></span></div></div>
        <div class="v-lb-cconb">
          <div class="v-lb-cctb clb">
            <div class="v-lb-cib"><img src="images/by/fc-17.jpg" /></div>
            <div class="v-lb-crib">
              <p>我校参加黔港武术交流表演</p>
              <div class="v-lb-cbb"><a href="javascript:;">我要报名</a></div>
            </div>
          </div>
          <div class="v-lb-cctb clb">
            <div class="v-lb-cib"><img src="images/by/fc-17.jpg" /></div>
            <div class="v-lb-crib">
              <p>我校参加黔港武术交流表演</p>
              <div class="v-lb-cbb"><a href="javascript:;">我要报名</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="v-lb-lxb">
        <div class="v-lb-ttib"><p>联系我们</p><div class="link-b"><span></span></div></div>
        <div class="v-lb-lxib">
          <p>微信关注我们  查看更多讯息</p>
          <p>联系电话：0851-30640969</p>
          <div>
            <img src="images/xfewm.jpg" />
          </div>
        </div>
      </div>
    </div>
    <div class="xf-right-box clb">
      <div class="xf-right-nbox">
        <div class="v-lb-ttib"><p>联系我们</p><div class="link-b"><span></span></div></div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="xf-right-contb">
          <div class="r-con-video"><img src="images/by/fc-18.jpg" /></div>
          <div class="r-con-itb">
            <p class="r-con-po">Video Introduction</p>
            <p class="r-con-pt">视频介绍</p>
            <span class="r-con-cb">贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫,贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫贵阳兴甫武术学校始建于1994年，是贵州省贵阳兴甫...<a href="javascript:;">双击查看全文</a></span>
          </div>
        </div>
        <div class="r-con-gdb">
          <a href="javascript:;">+查看更多>></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer"></div>
</div>

<script>
$(".header-box").load("header.html");
$(".footer").load("footer.html");
</script>
</body>
</html>