<!--主体部分开始-->
<div class="wrap_main">
    <div class="main_top"></div>

    <div class="main"> 
    	<!--主体左侧开始-->
        <div class="main_left"> 
			<?{include file="product/block/_menu.html"}?>
        </div>
        <!--主体左侧结束--> 
		
        <!--主体右侧开始-->
        <div class="main_right"> 
			<div class="common_bt">
				<span class="title">产品搜索&nbsp;&nbsp;<span class="search_no_style"><?{$Keyword}?></span></span>
				<span class="path">当前位置：<a href="<?{$arrGWeb.WEB_ROOT_pre}?>/">首页</a> >> 产品搜索</span>
			</div>
			<div class="common_content">
                <div class="case_list">
                <ul>
					<?{foreach from=$arrInfoList item=arrData}?>
                    <li>
                        <div class="img_show vpic">
							<span>
							<a hidefocus="true" href="<?{url url="/product/detail.php?id=`$arrData.id`"}?>">
								<img class="img" src="<?{if empty($arrData.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl}?>s/<?{$arrData.thumbnail}?><?{/if}?>" title="<?{$arrData.title|htmlspecialchars}?> <?{$arrData.brand}?> <?{$arrData.model}?>" />
							</a></span>
						</div>
                        <div class="img_txt">
							<a href="<?{url url="/product/detail.php?id=`$arrData.id`"}?>" title="<?{$arrData.title|htmlspecialchars}?> <?{$arrData.brand}?> <?{$arrData.model}?>"><?{$arrData.title|csubstr:0:9|bedeck:$arrData.bedeck}?></a>
						</div>
                    </li>
					<?{/foreach}?>
                </ul>
				</div>				
			</div>
            <div class="clr"></div>
            <div class="showpage">
				<?{$strPage}?>
			</div>
        </div>
        <!--主体右侧结束-->		
        <div class="clr"></div>
    </div>
    <div class="main_bottom"></div>
</div>
<!--主体部分结束-->