
 <div class="n-back">
     <div class="content_box clb">
         <div><img style="width:100%;" src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/news-img.jpg" /></div>
         <div class="n-c-b clb">
             <div class="n-c-lb">
                 <span class="n-c-ts"></span>
                 <ul class="n-c-cul">
                     <li class="down-back culli"><a href="<?{url url = '/xingfu_news/'}?>">
                         <p>Xing_Fu News<br/>兴甫新闻</p>
                     </a></li>
                     <li class="culli"><a href="<?{url url = '/xingfu_Notice/'}?>">
                         <p>Xing Fu Notice<br/>网站公告</p>
                     </a></li>
                     <li class="culli"><a href="<?{url url = '/xingfu_admissions/'}?>">
                         <p>Xing Fu Admissions<br/>招生简介</p>
                     </a></li>
                     <li class="culli"><a href="<?{url url = '/xingfu_Introduction/'}?>">
                         <p>Introduce<br/>兴甫简介</p>
                     </a>
                     </li>
                 </ul>
             </div>
             <div class="n-c-rb">
                 <div style="width:100%; background:#FF5953; height:30px;"></div>
                 <div class="n-c-rt"><span class="n-c-rtib"><p class="rtib-po">新闻资讯</p></span><span class="n-c-rtwzb">您现在所在的位置： <a href="<?{url url='/'}?>">首页</a> > <a href='<?{url url="/xingfu_news/"}?>'>新闻中心</a></span></div>


                 <div class="n-c-rib">
                     <div class="n-c-riul" style="display:block;">
                         <ul class="riul-ulb">
                             <?{foreach from=$arrInfoList item=arrNews}?>
                             <li class="riul-li clb"><a href="<?{if $arrData.linkurl!=''}?>
							<?{$arrData.linkurl}?><?{else}?><?{url url="/xingfu_news/detail.php?id=`$arrNews.id`"}?><?{/if}?>" title="<?{$arrNews.summary|htmlspecialchars}?>"><?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></a><span><?{$arrNews.submit_date|date_format:"%Y-%m-%d"}?></span></li>
                             <?{/foreach}?>
                         </ul>

                         <div class="fy-btnb clb">
                             <?{$strPage}?>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
 <script type="text/javascript" src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/js/jquery-1.8.3.js"></script>
 <script type="text/javascript" src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/js/main.js"></script>
