<meta http-equiv="Content-Type" content="text/html; charset=<?{$arrGWeb.charset}?>" />
<!-- Favicon -->
<link rel="icon" href="<?{$arrGWeb.WEB_ROOT_pre}?>/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="<?{$arrGWeb.WEB_ROOT_pre}?>/favicon.ico" type="image/x-icon" />
<!--title-->
<title><?{$Title}?></title>
<!--description-->
<meta name="description" content="<?{$Description}?>" />
<meta name="keywords" content="<?{$Keywords}?>" />
<!--css-->
<?{html_css name="`$arrGWeb.css`"}?>
<!--js-->
<?{html_js name="`$arrGWeb.js`"}?>
