
    <!--<link rel="stylesheet" href="css/style.css" type="text/css"/>-->
    <link rel="stylesheet" href="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/css/style.css"/>

<div>
    <!-- ---------- 轮播 ---------- -->
    <div class="h-i-bimg clb">
        <div class="xf-jj-tinb">
            <div data-status="1" class="xf-jj-lbt">
                <p>武术是中华民族传统文化的魁宝，是中国传统文化中一颗璀璨的明珠。贵阳兴甫武术学校是我省武术老拳师（周辛甫，原贵州省武术协会副主席）名字命名的一所专业武术培训机构，学校创办二十二年，在国际、全国、省、市各大型武术比赛中，共获金牌445块、银牌258块、铜牌176块的优异成绩。教学模式新颖，教练教学经验丰富，环境优雅。</p>
                <!--<div class="xf-jj-ab clb"><a href="javascript:;">更多兴甫荣誉</a></div>-->
            </div>
        </div>
        <span class="pr-b">&lt;</span>
        <span class="ne-b">&gt;</span>
        <ul class="clb">


            <?{foreach from=$arr|api:'xingfu_pic':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^10^id,title,summary,thumbnail,bedeck^^0" item=arrNews}?>
            <li><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_pic'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"  width="1920" height="671"/></li>
            <?{/foreach}?>
            <!--<li><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/lunbo/1.jpg"/></li>-->
            <!--<li><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/lunbo/2.jpg"/></li>-->
        </ul>


    </div>

    <!-- ---------- 公告跑马灯 ---------- -->
    <div class="h-c-topb clb">
        <div class="h-c-topnb">
            <div class="h-c-tLimg"><i></i><marquee>
                <!--网站公告：2015秋季招生活动开始啦-->
                <?{foreach from=$arr|api:'xingfu_Notice':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^6^id,title,summary,structon_tb,submit_date,type_id,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                <?{if $arrNews.type_id ==1}?>
                <!--<a href="<?{url url="/xingfu_Notice/detail.php?id=`$arrNews.id`"}?>"><?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></a>-->
                <?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?>
                <?{/if}?>
                <?{/foreach}?>
            </marquee></div>
            <!--<div class="h-c-tLinput"><input type="text" value="请输入搜索内容" /><i title="搜索"></i></div>-->
        </div>
    </div>

    <!-- ---------- 兴甫简介 ---------- -->
    <div class="xf-jj-box">
        <div class="xf-jj-topb">
            <span><i></i></span>
        </div>
        <div class="xf-jj-nb clb">
            <div class="xf-jj-leftb"><!-- left start -->
                <h3 class="xf-jj-title">Xing Fu Introduction<br/>兴甫简介</h3>
                <div class="xf-jj-pb">
                    <?{foreach from=$arr|api:'xingfu_Introduction':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^10^id,title,summary,structon_tb,thumbnail,bedeck^^0" item=arrNews}?>
                   <p><?{$arrNews.summary|csubstr:0:255}?>...</p>
                    <?{/foreach}?>
                    <!--<p>贵阳市体校兴甫武术学校经贵州省体育局和云岩区教育局批准于1994年成立，是一所“以文为主、文武兼修”，实行全日制、寄宿制（住读）教学和业余武术训练两种教学方式，实行半军事化封闭式管理的新型文武学校。</p>-->
                    <!--<p>学校全面贯彻党的教育方针，坚持“严格管理，争创一流文武学校，培养德艺双馨人才”的办学宗旨，按国家教委规定开设小学至高中全部文化课程，...</p>-->
                    <!--<p>学校全面贯彻党的教育方针，坚持“严格管理，争创一流文武学校，培养德艺双馨人才”的办学宗旨，按国家教委规定开设小学至高中全部文化课程，...</p>-->
                </div>
                <div class="xf-jj-btnb clb"><a href="<?{url url = '/xingfu_Introduction/'}?>">更多关于兴甫 &gt; &gt;
                    <span class="btnb-top"></span>
                    <span class="btnb-left"></span>
                    <span class="btnb-right"></span>
                    <span class="btnb-bottom"></span>
                </a></div>
            </div><!-- left end -->

            <div class="xf-jj-rightb"><!-- right start -->
                <div>
                    <div class="video-h1" id="CuPlayer">

                        <?{foreach from=$arr|api:'xingfu_teaching':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^1^id,title,summary,structon_tb,thumbnail,bedeck^^0" item=arrNews}?>
                        <?{if !empty($arrNews.video)}?>
                        <?{foreach from=$arrNews.video  item=video key=key name=video}?>
                        <?{if $smarty.foreach.video.first}?>
                        <script type='text/javascript' src='<?{$arrGWeb.WEB_ROOT_pre}?>/plug-in/flvplayer/swfobject.js'></script>
                        <?{/if}?><center>
                        <?{if $video.video != ''}?>
                        <div id='vpreview<?{$smarty.foreach.arrNews.index}?>'>The player will show in this paragraph</div>
                        <script type='text/javascript'>
                            var s1 = new SWFObject('<?{$arrGWeb.WEB_ROOT_pre}?>/plug-in/flvplayer/flvplayer.swf','player','546','327','9');
                            s1.addParam('allowfullscreen','true');
                            s1.addParam('allowscriptaccess','true');
                            s1.addParam('flashvars','file=<?{$FileCallPath|imgurl:'xingfu_teaching'}?><?{$video.video}?>&image=<?{$FileCallPath|imgurl:'xingfu_teaching'}?>b/<?{$video.videopic}?>');
                            s1.write('vpreview<?{$smarty.foreach.arrNews.index}?>');
                        </script>
                        <?{elseif $video.video_link !=''}?>
                        <embed src="<?{$video.video_link}?>" quality="high" width="580" height="400" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed><br>
                        <?{/if}?></center><br>
                        <?{/foreach}?>
                        <?{/if}?>
                        <?{/foreach}?>

                        <!--<strong>兴甫武术学校 提示：您的Flash Player版本过低，请<a href="index.html">点此进行网页播放器升级</a>！</strong>-->
                    </div>
                </div>
            </div><!-- right end -->
        </div>
    </div>
    <!-- ------------ xing fu feng cai ------------- -->
    <div class="xf-fc-box clb">
        <div class="xf-fc-nbox">
            <div class="xf-fc-title"></div>
            <div class="xf-fc-bib clb">
                <div class="xf-fc-blb"><!-- left info box -->
                    <?{foreach from=$arr|api:'xingfu_ImgShow':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^3^3^id,title,summary,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                    <?{if $smarty.foreach.arrNews.index==0}?>
                    <div class="xf-fc-blt mouback"><a href="javascript:;"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></a></div>

                    <?{elseif $smarty.foreach.arrNews.index==1}?>
                    <div class="xf-fc-blc mouback"><a href="javascript:;"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></a></div>

                    <?{elseif $smarty.foreach.arrNews.index==2}?>
                    <div class="xf-fc-blb1 mouback"><a href="javascript:;"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></a></div>

                    <?{/if}?>
                    <?{/foreach}?>
                    <!--<div class="xf-fc-blt mouback"><a class="xf-fc-io" href="javascript:;"></a></div>-->
                    <!--<div class="xf-fc-blc mouback"><a href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-1.jpg" /></a></div>-->
                    <!--<div class="xf-fc-blb1 mouback"><a href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-2.jpg" /></a></div>-->
                </div>
                <div class="xf-fc-bcb"><!-- content info box -->
                    <div class="xf-fc-bct clb"><!-- content lun bo -->
                        <span class="pr-b1">&lt;</span>
                        <span class="ne-b1">&gt;</span>
                        <ul class="xf-fc-bcul1">
                            <?{foreach from=$arr|api:'xingfu_ImgShow':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^3^id,title,summary,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                            <?{if $smarty.foreach.arrNews.index==0}?>
                            <li style="display:block;"><a href="<?{url url = '/xingfu_ImgShow/'}?>"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"/></a><div class="xf--fc-bcbin"><a href="<?{url url = '/xingfu_ImgShow/'}?>"><?{$arrNews.title}?></a></div></li>

                            <?{else}?>
                            <li><a href="<?{url url = '/xingfu_ImgShow/'}?>"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"/></a><div class="xf--fc-bcbin"><a href="<?{url url = '/xingfu_ImgShow/'}?>"><?{$arrNews.title}?></a></div></li>

                            <?{/if}?>

                            <?{/foreach}?>
                            <!--<li style="display:block;"><a href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-3.jpg" /></a><div class="xf--fc-bcbin"><a href="javascript:;">兴甫武术学校黑山杯</a></div></li>-->
                            <!--<li><a href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-1.jpg" /></a><div class="xf--fc-bcbin"><a href="javascript:;">兴甫武术学校黑山杯</a></div></li>-->
                            <!--<li><a href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-2.jpg" /></a><div class="xf--fc-bcbin"><a href="javascript:;">兴甫武术学校黑山杯</a></div></li>-->
                        </ul>
                        <ul class="xf-fc-bcbtn clb">
                            <li class="liback1"></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="xf-fc-bcb1"><!-- content lun bo -->
                        <?{foreach from=$arr|api:'xingfu_ImgShow':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^9^2^id,title,summary,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                        <?{if $smarty.foreach.arrNews.index==0}?>
                        <div class="xf-fc-bcb1l">
                            <img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/>                        </div>
                        <?{elseif $smarty.foreach.arrNews.index==1}?>
                        <div class="xf-fc-bcb1r mouback">
                            <img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/>
                        </div>
                        <?{/if}?>
                        <?{/foreach}?>
                        <!--<div class="xf-fc-bcb1l">-->
                            <!--<img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-4.jpg" />-->
                        <!--</div>-->
                        <!--<div class="xf-fc-bcb1r mouback">-->
                            <!--<img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-5.jpg" />-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="xf-fc-brb"><!-- right lun bo -->
                    <?{foreach from=$arr|api:'xingfu_ImgShow':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^6^3^id,title,summary,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                    <?{if $smarty.foreach.arrNews.index==0}?>
                    <div class="xf-fc-brbt mouback"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></div>

                    <?{elseif $smarty.foreach.arrNews.index==1}?>
                    <div class="xf-fc-brbc mouback"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></div>

                    <?{elseif $smarty.foreach.arrNews.index==2}?>
                    <div class="xf-fc-brbb mouback"><<img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_ImgShow'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>" width="250" height="248"/></div>

                    <?{/if}?>
                    <?{/foreach}?>
                    <!--<div class="xf-fc-brbt"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-6.jpg" /></div>-->
                    <!--<div class="xf-fc-brbc mouback"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-7.jpg" /></div>-->
                    <!--<div class="xf-fc-brbb mouback"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-8.jpg" /></div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------- ming shi feng cai ------------------- -->
    <div class="xf-ms-box">
        <div class="xf-ms-nbox">
            <div class="xf-ms-tti"></div>
            <div class="xf-ms-tconb clb">
                <ul>
                    <?{foreach from=$arr|api:'xingfu_coach':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^4^id,title,summary,structon_tb,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                     <?{if $smarty.foreach.arrNews.index==0}?>
                    <li class="xf-ms-Li" style="margin-left: 75px;"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="<?{url url="/xingfu_coach/detail.php?id=`$arrNews.id`"}?>"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_coach'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"/></a></div>
                        <a class="xf-ms-Lia2" href="<?{if $arrNews.linkurl!=''}?>
                        <?{$arrNews.linkurl}?><?{else}?><?{url url="/xingfu_coach/detail.php?id=`$arrNews.id`"}?><?{/if}?>">
                        <?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></a>
                    </li>
                    <?{else}?>
                    <li class="xf-ms-Li file" style="margin-left: 75px;"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="<?{url url="/xingfu_coach/detail.php?id=`$arrNews.id`"}?>"><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_coach'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"/></a></div>
                        <a class="xf-ms-Lia2" href="<?{if $arrNews.linkurl!=''}?>
                        <?{$arrNews.linkurl}?><?{else}?><?{url url="/xingfu_coach/detail.php?id=`$arrNews.id`"}?><?{/if}?>">
                        <?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></a>
                    </li>
                    <?{/if}?>
                    <?{/foreach}?>
                    <!--<li class="xf-ms-Li file"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/jl-1.png" /></a></div><a class="xf-ms-Lia2" href="javascript:;">李教练</a></li>-->
                    <!--<li class="xf-ms-Li flle"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/jl-2.png" /></a></div><a class="xf-ms-Lia2" href="javascript:;">李教练</a></li>-->
                    <!--<li class="xf-ms-Li flle"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/jl-3.png" /></a></div><a class="xf-ms-Lia2" href="javascript:;">李教练</a></li>-->
                    <!--<li class="xf-ms-Li flle"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/jl-4.png" /></a></div><a class="xf-ms-Lia2" href="javascript:;">李教练</a></li>-->
                    <!--<li class="xf-ms-Li flle"><div class="xf-ms-Lidiv"><a class="xf-ms-Lia1" href="javascript:;"><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/jl-5.png" /></a></div><a class="xf-ms-Lia2" href="javascript:;">李教练</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!-- ----------------- xing fu xin wen ------------------- -->
    <div class="xf-news-box">
        <div class="xf-news-nbox">
            <div class="xf-news-tti"></div>
            <div class="xf-news-conb clb">
                <div class="xf-news-leftb">
                    <ul class="xf-news-llist clb">
                        <li class="xf-news-liback">最新资讯<span class="xf-news-j">◆</span></li>
                        <li>网站公告<span class="xf-news-j">◆</span></li>
                    </ul>
                    <div class="xf-news-listbox">
                        <ul style="display:block;" class="xf-news-inlist clb">

                            <?{foreach from=$arr|api:'xingfu_news':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^6^id,title,summary,structon_tb,submit_date,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                            <li class="clb"><a href="<?{url url="/xingfu_news/detail.php?id=`$arrNews.id`"}?>"><i></i><p><?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></p></a><span><?{$arrNews.submit_date|date_format:"%Y/%m/%d"}?></span></li>
                            <?{/foreach}?>

                            <!--<li class="clb"><a href="<?{url url="/xingfu_news/detail.php?id=`$arrNews.id`"}?>"><i></i><p><?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></p></a><span><?{$arrNews.submit_date|date_format:"%Y/%m/%d"}?></span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                        </ul>
                        <ul class="xf-news-inlist clb">
                            <?{foreach from=$arr|api:'xingfu_Notice':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^6^id,title,summary,structon_tb,submit_date,type_id,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                            <?{if $arrNews.type_id ==2}?>
                            <li class="clb"><a href="<?{url url="/xingfu_Notice/detail.php?id=`$arrNews.id`"}?>"><i></i><p><?{$arrNews.title|csubstr:0:24|bedeck:$arrNews.bedeck}?></p></a><span><?{$arrNews.submit_date|date_format:"%Y/%m/%d"}?></span></li>
                            <?{/if}?>
                            <?{/foreach}?>
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>2澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                            <!--<li class="clb"><a href="javascript:;"><i></i><p>澳门国际武术比赛武术太？张山鼓励兴甫队员并合影.....</p></a><span>2015/03/13</span></li>-->
                        </ul>
                    </div>
                </div>
                <div class="xf-news-rightb">
                    <div class="xf-news-rinb">
                        <a href="javascript:;" class="xf-pr"></a>
                        <a href="javascript:;" class="xf-ne"></a>
                        <ul class="xf-news-ul clb">

                            <?{foreach from=$arr|api:'xingfu_news':'getInfoList':"where pass=1^ ORDER BY topflag DESC,submit_date DESC^0^6^id,title,summary,structon_tb,submit_date,thumbnail,bedeck^^0" item=arrNews name=arrNews}?>
                            <?{if empty($arrNews.thumbnail)}?>
                            <?{else}?>
                            <li><a><img src="<?{if empty($arrNews.thumbnail)}?><?{$arrGWeb.templats_root}?>/images/nopic.jpg<?{else}?><?{$FileCallPath|imgurl:'xingfu_news'}?>/b/<?{$arrNews.thumbnail}?><?{/if}?>"/></a></li>
                            <?{/if}?>
                            <?{/foreach}?>
                            <!--<li><a><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-9.jpg" /></a></li>-->
                            <!--<li><a><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-8.jpg" /></a></li>-->
                            <!--<li><a><img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/by/fc-7.jpg" /></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------- lian xi wo men  ------------------- -->
    <div class="xf-lx-box">
        <div class="xf-lx-nbox clb">
            <div class="xf-lx-leftbox"><!-- left box -->
                <div class="xf-lx-tiimg"></div>
                <div class="xf-lx-erweima">
                    <img src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/images/xfewm.jpg" />
                </div>
                <div class="xf-lx-wxjj">
                    微信扫一扫<br/>
                    关注我们相关信息
                </div>
                <div class="xf-lx-lianxilist">
                    <ul>
                        <li>服务热线 : 0851-85617199</li>
                        <li>联 系 人 : 李教练</li>
                        <li>校方邮箱 : 3319353372@qq.com</li>
                        <li>邮政编码 : 467000</li>
                        <li>学校地址 : 贵阳市云岩区宝山北路111号</li>
                    </ul>
                </div>
            </div>

            <form action="<?{url url = '/xingfu_apply/'}?>" method="post" name="messageform">
                <table cellspacing="5" cellpadding="0" border="0" id="mess_table">

                    <div class="xf-lx-rightbox clb"><!-- right box -->
                        <div class="inp-box">
                            <input type="text" value="姓名" name="name" id="name"/>
                        </div>
                        <div class="inp-box">
                            <input type="text" value="年龄" name="age" id="age"/>
                        </div>
                        <div class="inp-box">
                            <select name="sex" id="sex"><option value="nodu">性别</option><option value="男">男</option><option value="女">女</option></select>
                        </div>
                        <div class="inp-box">
                            <select name="ethnic" id="ethnic"><option value="nodu">民族</option value='汉族'><option>汉</option></select>
                        </div>
                        <div class="inp-box">
                            <input type="text" value="家庭住址" name="address" id="address" />
                        </div>
                        <div class="inp-box">
                            <input type="text" value="联系电话" name="iphone"  id="iphone"/>
                        </div>
                        <div class="inp-box">
                            <input type="text" value="文化班级" name="class_type" id="class_type"/>
                        </div>
                        <div class="inp-box">
                            <select id="class" name="class"><option value="nodu">所报班级</option><option value="大班">大班</option></select>
                        </div>
                        <div class="inp-box">
                            <input type="text" value="家长微信号" name="weichat" id="weichat" />
                        </div>
                        <div class="clb">
                            <!--<button class="liyy-btn"><input type="button" value="立即预约" onClick="messageform.submit();"/></button>-->
                            <button class="liyy-btn" onClick="messageform.submit();">立即预约</button>
                        </div>
                        <div class="l-mapb">
                            <div id="l-map"></div>
                            <!--  <div class="xy-qhd"><button class="wx-btn xy-bab">兴甫武校</button><button class="yeyh-btn">星甫幼儿园</button></div> -->
                        </div>
                    </div>
                </table>
            </form>


        </div>
    </div>

</div>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tbZhmxa0Werk7IZ7Zbg7TBML"></script>

    <script type="text/javascript">
        /* var oDiv = $(".wx-btn").offset();
         var oDivTop = oDiv.top;
         //alert(oDivTop);

         $(window).scroll(function (){
         if($(window).scrollTop() > (oDivTop - $(window).height())){
         alert("到了");
         }
         }) */


        //百度地图API功能
        var map = new BMap.Map("l-map");            // 创建Map实例
        map.centerAndZoom(new BMap.Point(106.729821,26.585491), 11);
        var local = new BMap.LocalSearch(map, {
            renderOptions: {map: map, panel: "r-result"}
        });
        local.search("兴甫","星甫");
    </script>
    <script type="text/javascript" src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="<?{$arrGWeb.WEB_ROOT_pre}?>/templates/1/xingfu_Extension/js/main.js"></script>